  @import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');

  :root{
    --primary-color: lightslategray;
    --secundary-color: lightcoral;
    --tertiary-color: blue;
}

body{
    background-color: var(--primary-color);
    font-size: 15px;
    font-family: 'Bacasime Antique', serif;
}

#container{
    height: 380px;
    width: 329px;
    margin: 100px auto;
    background: #1294e0;
    box-shadow: 10px 10px 10px grey;
}